:root {
  --pozadina: #fca368;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
#write{
	width: 100%;
	height: 100vh;
	font-family: "Arial";
	background-color: var(--pozadina);
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	font-size: 5em;
}
#ask{
	text-align: center;
	width: 50%;
}
#ask input{
	text-align: center;
	padding: 1em 0px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	caret-color: transparent;
	font-size: 3em;
}
#ask input::placeholder{
	font-size: 2em;
	color: #121212;
}
#ask input:focus{
	outline: none;
}